<h1><% feature.properties.title %> </h1> 
<form id="checkin_form"> 
	Name:  
	<input type="text" name="name" id="name" enctype="multipart/form-data" placeholder="What do they call you?" required><br> 
	Comment:<br>  
	<textarea rows="2" cols="40" name="comment" id="comment" placeholder="What do you think?"></textarea><br> 
	<input type="hidden" id="location_id" name="location_id" value=" feature.properties.location_id  "> 
	<input type="submit" style="color:black" class="submit_button"><br> 
	Or submit a photo: <br> 
	<input type="file" id="photo" name="photo" accept="image/*"> 

</form> 
