
<h1><% feature.properties.title %> </h1> 
	 <form id="checkin_form"> 
	 Name:  
	 <input type="text" name="name" id="name" required autofocus><br> 
	 Comment:  
	 <textarea rows="4" cols="55	" name="comment" id="comment" placeholder="Enter your comment..."></textarea> 
	 <input type="hidden" id="location_id" name="location_id" value=" feature.properties.location_id  "> 
	 <input type="submit" id="submit_button"><br> 
	 Or submit a photo: <br> 
	 <a href="#"><button class="addPhotoButton" location_id="#">Upload a Photo</button></a> 
	 </form> 