<!-- <div class="allCheckins">
  <p>All the checkins.</p>
  <p>Like, all of them.</p>
  <br>
    <% @location.checkins.each #do |f| %> 
    <%= f.name %><br>
    <%= simple_format(f.comment) %>
      <% # if f.photo.present? %>
       <%= image_tag f.photo.url(#:medium) %><br>
      <% #end %>
    <% #end %>
    <br>
  <a href="/">Go back to main map</a>
</div> -->