	<div class='map_div'>

  	<!-- 	this is the main map area -->	
		<div id='map'> </div>
    <!-- end of map area     -->
	</div>

	<div class="content_div">

    <!-- this is the welcome note, hidden on first location click -->
    <div id="welcome">
      <img class="bird_on_it" src="assets/bird_on_it.jpg"> 
      <p style="font-size: 25px; letter-spacing: 4px">Welcome to the Scenic 49 Project</p>
      <p>Thanks for coming!</p>
      <p>Click on the marker where you're located to enter your name and comment.</p> 
    </div>
	</div>
</div>