<!DOCTYPE html>
<html>
<head>
  <title>Scenic49</title>
   <meta charset='utf-8' />
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
 	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">The 49 Project</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="howitworks_modal" data-toggle="modal" data-target="#howItWorksModal">How It Works</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">The Stations <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a class="drop1" href="#">Station #1</a></li>
            <li><a class="drop2" href="#">Station #2</a></li>
            <li><a class="drop3" href="#">Station #3</a></li>
            <li><a class="drop4" href="#">Station #4</a></li>
            <li><a class="drop5" href="#">Station #5</a></li>
            <li><a class="drop6" href="#">Station #6</a></li>
            <li><a class="drop7" href="#">Station #7</a></li>
            <li><a class="drop8" href="#">Station #8</a></li>
            <li><a class="drop9" href="#">Station #9</a></li>
            <li class="divider"></li>
            <li><a href="#">All Stations</a></li>
            <li class="divider"></li>
            <li><a <a class="about_modal" data-toggle="modal" data-target="#aboutModal">Find out more</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a class="about_modal" data-toggle="modal" data-target="#aboutModal">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class='main_container'>
        
	<div class='map_div'>

 <!-- ////// -->

	<!-- 	this is the main map area -->	
		<div id='map'>
      
    </div>
    
		<%= yield %>
	</div>

	<div class="content_div">

	<!-- 		this is the sidebar -->
		<p class="the_guestbook">The Guestbook<p>
      <hr />
    <div id="site-title"> </div>
		<div id="site-1"> </div><br>

	</div>
</div>

<!-- Modal 1 - How It Works -->
<div class="modal fade" id="howItWorksModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">How It Works</h4>
      </div>
      <div class="modal-body">
        <p>Click on a location marker on the map. Enter your name and your comment.</p>
        <p>Or upload a photo by clicking the 'upload' button. Browse to a folder and upload your photo.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal 2 - About -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">The 49 Scenic Project</h4>
      </div>
      <div class="modal-body">
        <p>This is a walking neighborhood installation to show how much people love their neighborhoods.</p>
        <p>Project by Peter Foucault and Chris Treggiari.</p>
        <p>Website created by <a href="http://www.nicocrisafulli.com">Nico Crisafulli</a></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>
